<div class="container">
  <div class="row">
    <div>
      <h1>スレッド一覧</h1>
      <div class="btn-group" role="group">
        <%= link_to "投稿新着順にする", topics_path(sort: 0), class:"btn btn-outline-light" %>
        <%= link_to "投稿数順にする", topics_path(sort: 1), class:"btn btn-outline-light" %>
        <%= link_to "ブックマーク数順にする", topics_path(sort: 2), class:"btn btn-outline-light" %>
      </div>
      <div class="d-flex mt-3">
        <div class="new">
          <%= link_to new_topic_path, class:"btn btn-light" do %>
            <%= "スレッド作成" %>
          <% end %>
        </div>
        <div class="search mt-1 ml-5">
          <%= form_with url: search_topic_path, method: :get, local: true do |f| %>
            <%= f.text_field :content, placeholder: "スレッドタイトルで検索（投稿新着順）", size: "50" %>
            <%= f.submit :検索 %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <% @topics.each do |topic| %>
      <%= render 'topics/list', topic: topic %>
    <% end %>
  </div>
  <%= paginate @topics %>
</div>
