<h1>公開スレッド一覧</h1>

<div class="new">
  <%= link_to new_topic_path do %>
    <%= "スレッド作成" %>
  <% end %>
</div>

<div class="list">
  <table class="table-striped">
    <% @topics.each do |topic| %>
      <tr>
        <td><%= attachment_image_tag topic.end_user, :image, fallback: "no-user-image-icon.jpg", size: "60x60" %></td>
        <td><%= link_to topic.title, topic_path(topic.id) %></td>
        <td>
          <div class="book-mark">
            <% if Book.find_by(end_user: current_end_user, topic: topic) %>
              <%= link_to topic_books_path(topic), method: :delete, local: true do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% else %>
              <%= link_to topic_books_path(topic), method: :post, local: true do %>
                <i class="far fa-star"></i>
              <% end %>
            <% end %>
            <% if topic.books.count != 0 %>
              <%= topic.books.count %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>