<h2><%= @topic.title %></h2>
<%= link_to 'スレッド一覧へ', topics_path %>
<div class="list">
  <table>
    <% @posts.each do |post| %>
      <tr>
        <td><%= attachment_image_tag post.end_user, :image, fallback: "no_image.jpg", size: "60x60" %></td>
        <td><%= @post_num %></td>
        <td>
          <% case post.status %>
          <% when 0 %>
            <%= post.content %>
          <% when 1 %>
            <div class="text-danger">
              <%= "この書き込みは管理者によって削除されました" %>
            </div>
          <% when 2 %>
            <div class="text-warning">
              <%= "この書き込みは投稿者によって削除されました" %>
            </div>
          <% end %>
        </td>
        <td><%= link_to '削除', post_path(post), method: :patch %></td>
      </tr>
      <% @post_num += 1 %>
    <% end %>
  </table>
</div>
<div class="new">
  <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
    <div class="form-group row">
      <%= f.text_area :content, placeholder: "書き込み内容", class: "form-control col-md-8" %>
    </div>
    <div class="form-group row">
      <%= f.label :image, "投稿画像", class: "col-md-3" %>
      <%= f.attachment_field :image, class: "col-md-8" %>
    </div>
    <div>
      <%= f.hidden_field :topic_id, :value => @topic.id %>
    </div>
    <div class="form-group col-md-12 text-center">
      <%= f.submit "書き込む", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>