<div class="accordion" id="roomAccordion">
  <div class="card mt-2">
    <div class="card-header" id="heading<%= tour.id %>">
      <h5 class="mb-0">
          <%= link_to end_user_path(tour.end_user) do %>
            <%= attachment_image_tag tour.end_user, :image, fallback: "no-user-image-icon.jpg", size: "60x60" %>
            <%= tour.end_user.name %>
          <% end %>
          <%= tour.title %>
        <button class="btn btn-outline-success btn-sm float-right mt-3 collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= tour.id %>" aria-expanded="false" aria-controls="collapse1">
          詳細を表示
        </button>
        <span class="float-right m-3">参加人数 : <%= tour.participants.count %> / <%= tour.max %> 人</span>
      </h5>
    </div>
    <div id="collapse<%= tour.id %>" class="collapse" aria-labelledby="heading<%= tour.id %>" data-parent="#roomAccordion">
      <div class="card-body">
        <div class="border-bottom border-success">
          <%= simple_format(tour.content) %>
        </div>
        <div class="tour-status-<%= tour.id %> card-text my-2 float-right">
          <%= render 'participants/participate', tour: tour %>
        </div>
      </div>
    </div>
  </div>
</div>