<div class="container">
  <div class="row">
    <div class="col offset-md-2 col-md-7">
      <h1>大会一覧</h1>
      <div class="btn-group" role="group">
        <%= link_to "参加募集中", tournaments_path(devide: 0), class:"btn btn-outline-light" %>
        <%= link_to "募集終了", tournaments_path(devide: 1), class:"btn btn-outline-light" %>
        <%= link_to "自分が開催", tournaments_path(devide: 2), class:"btn btn-outline-light" %>
        <%= link_to "自分が参加（マイページ）", end_user_path(current_end_user), class:"btn btn-outline-light" %>
      </div>
      <div class="mt-2">
        <%= link_to '開催する', new_tournament_path, class: "btn btn-light" %>
      </div>
      <% @tournaments.each do |tour| %>
        <%= render 'tournaments/close', tournament: tour %>
        <%= render 'tournaments/participate', tour: tour %>
        <%= render 'tournaments/list', tour: tour %>
      <% end %>
      <%= paginate @tournaments %>
    </div>
  </div>
</div>