<div class="container">
  <!--募集締め切り確認モーダル-->
  <%= render 'tournaments/close', tournament: @tournament %>
  <div class="row">
    <div class="offset-md-2 col-md-7">
      <h1>大会情報管理</h1>
        <% case @tournament.status %>
        <% when 0 %>
          <div class="mb-3">
            <%= form_with model: @tournament, url: info_tournament_path(@tournament), local: true do |f| %>
              <div class="form-group">
                <%= f.label :title, "大会名" %>
                <%= f.text_field :title, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :content, "詳細" %>
                <%= f.text_area :content, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :max, "最大募集人数" %>
                <%= f.number_field :max, class: "form-control" %>
              </div>
              <div>
                <%= f.submit "変更を保存", class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
          <div class="text-white">
            <% @tournament.participants.each do |part| %>
              <%= attachment_image_tag(part.end_user, :image, fallback: "no-user-image-icon.jpg", size: "50x50" ) %>
              <%= part.end_user.name %>
              <%= link_to 'この参加者をキャンセル', participant_path(part, redirect: 1), method: :delete, class: "btn btn-outline-danger" %>
            <% end %>
          </div>
          <button class="btn btn-outline-warning close-up-btn mt-2">募集を締切る</button>
        <% when 1 %>
          <div class="list-group">
            <% @tournament.participants.each do |part| %>
              <div class = "d-flex list-group-item">
                <%= attachment_image_tag(part.end_user, :image, fallback: "no-user-image-icon.jpg", size: "50x50" ) %>
                <%= part.end_user.name %>
                <div class="attendance offset-md-2 mt-2">
                  <% case part.status %>
                  <% when 1 %>
                    未確定
                  <% when 2 %>
                    出席
                  <% when 3 %>
                    欠席（連絡あり）
                  <% when 4 %>
                  　無断欠席
                  <% end %>
                </div>
                <div class="btn-group offset-md-1" role="group">
                  <%= link_to '出席', participant_path(part, attend: 2), method: :patch, class:"btn btn-outline-dark btn-sm" %>
                  <%= link_to '欠席（連絡あり）', participant_path(part, attend: 3), method: :patch, class:"btn btn-outline-dark btn-sm" %>
                  <%= link_to '無断欠席', participant_path(part, attend: 4), method: :patch, class:"btn btn-outline-dark btn-sm" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="result">
            <%= form_with model: @tournament, url: finish_tournament_path(@tournament),method: :post, local: true do |f| %>
            <div class="form-group text-white">
              <%= f.label :result, "大会結果" %>
              <%= f.text_area :result, class: "form-control" %>
            </div>
            <div>
              <%= f.submit "大会を終了する", class: 'btn btn-success' %>
            </div>
          <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>