<div class="container mb-5">
  <div class="row my-3">
    <div class="offset-md-2 col-md-8 text-center text-white">
      <h1 class="ml-3 mb-2">DuelColonyへようこそ！</h1>
      <div class="border rounded-pill">
        DuelColony は、将棋のような１on１対戦ゲームのプレイヤーが交流できる掲示板形式のSNSです。
        <br>掲示板での交流の他に、対戦相手の募集や大会の開催も行えます。
        <br>募集機能で実現した対戦の内容を掲示板で振り返ったり、大会の開催を掲示板で告知するなど、
        <br>３つの機能を合わせてフル活用して下さい！
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col top-card">
      <div class="top-image">
        <%= image_tag 'topic.png', size: '300x270', class: "card-img-top" %>
      </div>
      <div class="card-body top-content">
        <h5 class="card-title border-bottom">掲示板</h5>
        <p class="card-text">掲示板スレッドに書き込みをしたり、自分でスレッドを作成することができます。気になったスレッドをブックマークしてみましょう。（未ログイン状態では閲覧のみ可能です。）</p>
        <%= link_to '一覧へ', topics_path(sort: 0), class: "btn btn-outline-light" %>
      </div>
    </div>
    <div class="card col offset-md-1 top-card ">
      <div class="top-image">
        <%= image_tag 'match.png', size: '300x270', class: "card-img-top" %>
      </div>
      <div class="card-body top-content">
        <h5 class="card-title border-bottom">対戦</h5>
        <p class="card-text">対戦相手を募集したり、募集に応募することができます。対戦相手とのチャットもでき対戦しながら盛り上がったり意見を交換することもできます。（ご利用にはログインが必要です。）</p>
        <% if current_end_user %>
          <%= link_to '一覧へ', rooms_path(sort: 0), class: "btn btn-outline-light" %>
        <% else %>
          <%= link_to 'ログイン', new_end_user_session_path, class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
    <div class="card col offset-md-1 top-card">
      <div class="top-image">
        <%= image_tag 'tournament.png', size: '300x270', class: "card-img-top" %>
      </div>
      <div class="card-body top-content">
        <h5 class="card-title border-bottom">大会</h5>
        <p class="card-text">大会の開催や大会への参加ができます。大会の結果や告知を掲示板で書き込んでみましょう。<br>（ご利用にはログインが必要です。）</p>
        <% if current_end_user %>
          <%= link_to '一覧へ', tournaments_path, class: "btn btn-outline-light mt-4" %>
        <% else %>
          <%= link_to 'ログイン', new_end_user_session_path, class: "btn btn-light mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>