<table class="table-striped">
  <% rooms.each do |room| %>
    <tr>
      <td>
        <%= link_to end_user_path(room.host) do %>
          <%= attachment_image_tag room.host, :image, fallback: "no-user-image-icon.jpg", size: "60x60" %>
        <% end %>
      </td>
      <td><%= room.host.name %></td>
      <td><%= room.title %></td>
      <td>
        <div class="room-status-<%= room.id %>">
          <%= render 'rooms/room-status', room: room %>
        </div>
      </td>
    </tr>
  <% end %>
  <%= paginate rooms %>
</table>