<h1>
  対戦チャットルーム
  <% if @room.status == 3 || @room.status == 5 %>
    ログ（メッセージ送信不可）
  <% end %>
</h1>

<div class="chat">
  <%= render 'messages/message', room: @room, messages: @messages, message: @message %>
</div>

<div class="finishing">
  <% if @room.status == 2 %>
    <% case @room.finishing %>
    <% when 0 %>
      <%= link_to '終了希望', finish_room_path(@room), method: :post %>
    <% when current_end_user.id %>
      <%= link_to '終了希望キャンセル', finish_room_path(@room), method: :post %>
    <% else %>
      <%= link_to '終了希望に同意', finish_room_path(@room), method: :post %>
    <% end %>
    | <%= link_to '中断', accept_room_path(@room), method: :post %>
  <% end %>
</div>