<h1>対戦一覧</h1>
<div class="new-room_id">
  <%= link_to '対戦募集する', new_room_path %>
</div>
<div class="room-list">
  <% @rooms.each do |room| %>
    <% host = EndUser.find_by(id: room.host_id) %>
    <%= attachment_image_tag host, :image, fallback: "no_image.jpg", size: "60x60" %>
    <%= host.name %>
    <%= room.title %>
    <% if host == current_end_user %>
      <%= link_to '募集を取り消す', cancel_room_path(room), method: :post %>
    <% else %>
      対戦募集に応募する
    <% end %>
  <% end %>
</div>