<h1>マイページ</h1>

<%= attachment_image_tag(@user, :image, fallback: "no-user-image-icon.jpg", size: "100x100" ) %>
<%= @user.name %>
<%= @user.introduction %>

<% if @user = current_end_user %>
  <%= link_to '編集', edit_end_user_path(@user) %>
<% end %>

<h2>あなたの対戦</h2>

<% @user.user_rooms.each do |entry| %>
  <% room = entry.room %>
  <% if room.status != 4 %>
    <div class="room-info">
      <%= room.title %>
      <% case room.status %>
      <% when 0 %>
        募集中　<%= link_to '募集を取り消す', cancel_room_path(room), method: :post %>
      <% when 1 %>
        応募あり
      <% when 2 %>
      　対戦中
      <% when 3 %>
      　対戦終了
      <% when 5 %>
      　対戦中断
      <% end %>
    </div>
  <% end %>
<% end %>