<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-7">
      <h1>
        <%= attachment_image_tag(@user, :image, fallback: "no-user-image-icon.jpg", size: "100x100" ) %>
        <%= @user.name %> のマイページ
        <% if @user == current_end_user %>
          <%= link_to '編集', edit_end_user_path(@user), class: "btn btn-outline-light mb-2" %>
        <% end %>
      </h1>
      <div class="introduction bg-white rounded">
        <%= @user.introduction %>
      </div>
    </div>
  </div>
</div>


<div class="mypage-tab">
  <div class="my-tab-nav">
    <a href="" class="my-nav-item is-active" data-nav="0"></a>
    <a href="" class="my-nav-item" data-nav="1"></a>
    <a href="" class="my-nav-item" data-nav="2"></a>
  </div>
  <div class="my-tab-contents">
    <div class="room-history my-content">
      <h2>対戦履歴</h2>
      <%= render 'rooms/room-list', rooms: @rooms %>
    </div>
    <div class="my-topics my-content">
      <h2>作成したスレッド</h2>
      <table class="table-striped">
        <% @topics.each do |topic| %>
          <%= render 'topics/list', topic: topic %>
        <% end %>
        <%= paginate @topics %>
        </table>
    </div>
    <div class="book-topics my-content">
      <h2>ブックマークしたスレッド</h2>
      <table class="table-striped">
        <% @books.each do |book| %>
          <% topic = book.topic %>
          <%= render 'topics/list', topic: topic %>
        <% end %>
        <%= paginate @books %>
      </table>
    </div>
  </div>
</div>