<h1>お問い合わせ</h1>
<div class="for-development border border-primary">
  (開発用）<br />
  <% @reports.each do |report| %>
    <%= report.end_user.name %>
    <%= report.content %><br />
  <% end %>
</div>
<div class="report">
  <%= form_with model: @report, local: true do |f| %>
    <div class="form-group row">
      <%= f.label :お問い合わせ内容, class: "col-md-2" %>
      <%= f.text_area :content, class: "form-control col-md-8" %>
    </div>
    <div class="form-group col-md-12 text-center">
      <%= f.submit "送信", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>