<!DOCTYPE html>
<html>
  <head>
    <title>DColony</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="header container-fluid">
        <%= link_to 'Duel Colony', root_path, class: "navbar-brand text-white" %>
        <div>
          <% if end_user_signed_in? %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to 'トップへ', root_path, class: "btn btn-dark ml-1" %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', end_user_path(current_end_user), class: "btn btn-dark ml-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "問い合わせ", new_report_path, class: "btn btn-dark ml-1" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete, class: "btn btn-dark ml-1" %>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to 'トップへ', root_path, class: "btn btn-primary ml-1" %>
              </li>
              <li class="nav-item">
                <%= link_to 'About', about_path, class: "btn btn-primary ml-1" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログイン', new_end_user_session_path, class: "btn btn-primary ml-1" %>
              </li>
              <li class="nav-item">
                <%= link_to '新規登録', new_end_user_registration_path, class: "btn btn-primary ml-1" %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="admins">
      <% if admin_signed_in? %>
        <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to '管理者ログイン', new_admin_session_path %>
      <% end %>
    </div>
    <div class="flash text-success">
      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>
    </div>
    <div class="yield mx-2">
      <%= yield %>
    </div>
    <div class="footer">
      <p class="text-center text-white p-4">DuelColony</p>
    </div>
  </body>
</html>
