<!DOCTYPE html>
<html>
  <head>
    <title>DColony</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="header">
      <% if end_user_signed_in? %>
        <%= link_to 'Home', root_path %>, <%= link_to 'About', about_path %>,
        <%= link_to 'My Page', end_user_path(current_end_user) %>, <%= link_to 'Logout', destroy_end_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Home', root_path %>, <%= link_to 'About', about_path %>,
        <%= link_to 'Sign Up', new_end_user_registration_path %>, <%= link_to 'Login', new_end_user_session_path %>
      <% end %>
      <br>-------ヘッダー--------
    </div>
    <div class="flash text-success">
      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
